documentation/project-agreements/project-plan.pdf
documentation/project-agreements/project-plan.synctex.gz
documentation/project-agreements/project-plan.out
documentation/project-agreements/sections/conditions.log
documentation/project-agreements/project-plan.toc
documentation/project-agreements/project-plan.log
documentation/project-agreements/project-plan.aux
*.log
*.blg
*.bbl
*.toc
*.gz
*.pdf
*.out
*.aux
*.7z
*.dvi
