*.log
*.out
*.blg
*.bbl
*.aux
*.toc
*.gz
*.pdf
*.log
*.blg
*.bbl
*.toc
*.gz
*.pdf
*.out
*.aux
*.7z
*.dvi
*.bak
*.docx
*.doc
*.tex.bak
*.xml
*.d
*.txt
*.iml
*.a
*.hex
*.eep
*.cbp
*.check_cache
*.bin
*.db
