*.log
*.out
*.blg
*.bbl
*.aux
*.toc
*.gz
*.pdf
*.log
*.blg
*.bbl
*.toc
*.gz
*.pdf
*.out
*.aux
*.7z
*.dvi
*.bak
*.docx
*.doc
*.tex.bak
documentation/analysis-improvements/images/Thumbs.db
documentation/movement-research/images/Thumbs.db
documentation/self-reflection/images/Thumbs.db
